body {
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 0px;
    background-image: url('https://www.chetu.com/img/solutions/gis/sliderbg/gis-banner.jpg');
    background-size: cover;
    background-position: center;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;

  }
  .imprimir {
    position: fixed;
    bottom: 20px;
    right: 20px;

  }
  
  
  nav {
    display: flex;
    justify-content: center;
    background-color: rgb(72, 168, 200);
    padding: 25px;
    

  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    transition: all 0.2s;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  
  nav li {
    margin: 0 10px;
    list-style: none;

  }
  ul li{
    list-style: none;
    display: inline-block;
    padding: 35px;
    }
  

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  main h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;



  }

  section {
    background-color: white;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
  }
  section ul {
  
      text-align: justify;
      font-size: 1;
      margin: 2.5 auto;
      width: 75%;  
    }
  section .image {
    width: 30%;
    padding-left: 20px;
  }
  
  section .image img {
    width: 100%;
    height: auto;
  }
  .texto {
    width: 80%;
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 2em;
    line-height: 1.5;
    font-weight: bold;


  }


  #Enseñanza {
    width: 80%;
    margin: 0 auto;
    
    
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 30px;
    background-color:rgb(223, 217, 217);
    margin: 60px auto;
    }
    
 
  
    
    th, td {
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    
    }
    table p {
      text-align:justify;
      font-size: 40px;
    }
   
    #experiencia {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      width: 80%;
      margin: 20px auto;
    }
    
    #experiencia h2 {
      color: #0077be;
      font-size: 28px;
      margin-bottom: 20px;
    }
    
    #experiencia ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    #experiencia li {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    #experiencia h3 {
      color: #0077be;
      font-size: 22px;
      margin-bottom: 10px;
    }
    
    #experiencia p {
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    #experiencia ul ul {
      list-style: disc;
      margin-left: 20px;
    }

    .oculto {
      display: none;
    }
    
   
  

    #contacto {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 80%;
    margin: 10px auto;
    }
    
    #contacto h2 {
      color: #0077be;
      font-size: 28px;
      margin-bottom: 20px;
    }
    
    #contacto ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      
    }
    
    #contacto li {
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
      width: 45%;
      
    }
   
  
    #contacto li strong {
      display: block;
      margin-bottom: 5px;
      color: #0077be;
      font-size: 20px;
    }
    
    #contacto a {
      color: #0077be;
      text-decoration: none;
    }
 
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }






